{% extends 'base.html' %}

<!-- {% block title %} Registro de usuarios {% endblock %}
 -->
{% block content %}
    {% for message in get_flashed_messages() %}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
    </svg>
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
            {{ message }}
        </div>
    </div>
    {% endfor %}
        <center>
        <h1>REPORTES</h1>
        </center>
        <br/>
    <div class="shadow-lg p-3 mb-5 bg-light rounded">
        <form action="{{ url_for('addSubject') }}" method="POST">
            <fieldset>
                <legend>AÑADIR SUJETO</legend>
                {{ forma_s.hidden_tag() }}
                <div class="row">
                    <div class="col">
                        {{ forma_s.nombre.label(class="col-form-label") }}
                        {{ forma_s.nombre(class="form-control") }}
                    </div>
                    <div class="col">
                        {{ forma_s.apellidos.label(class="col-form-label") }}
                        {{ forma_s.apellidos(class="form-control") }}
                    </div>
                    <br/>
                    {{ forma_s.rut.label(class="col-form-label") }}
                    {{ forma_s.rut(class="form-control") }}
                </div>
                <br/>
                {{ forma_s.completar(class="btn btn-outline-primary") }}
            </fieldset>
        </form>
    </div>

    <div class="shadow-lg p-3 mb-5 bg-light rounded">
        <form action="{{ url_for('addReport') }}" method="POST">
            <fieldset>
                <legend>AÑADIR REPORTE</legend>
                {{ forma_r.hidden_tag() }}
                <div class="col">
                    {{ forma_r.local.label(class="form-label") }}
                    {{ forma_r.local(class="form-control") }}
                    {{ forma_r.fecha_ingreso.label(class="form-label") }}
                    {{ forma_r.fecha_ingreso(class="form-control") }}
                    {{ forma_r.fecha_salida.label(class="form-label") }}
                    {{ forma_r.fecha_salida(class="form-control") }}
                    {{ forma_r.motivo_salida.label(class="form-label") }}
                    {{ forma_r.motivo_salida(class="form-control") }}
                    {{ forma_r.satisfaccion.label(class="form-label", for="CustomRange3") }}
                    {{ forma_r.satisfaccion(class="form-range", type="range", min="1", max="10", id="CustomRange3") }}
                    {{ forma_r.recomendacion.label(class="form-label") }}
                    {{ forma_r.recomendacion(class="form-control") }}
                    {{ forma_r.comentarios.label(class="form-label") }}
                    {{ forma_r.comentarios(class="form-control") }}
                </div>
                <br/>
                {{ forma_r.completar(class="btn btn-outline-primary") }}
            </fieldset>
        </form>
    </div>
{% endblock %}